@import "@src/common.scss";
#user {
	margin-top: 10px;
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	#info {
		margin: 0 40px;
		padding: 40px;
		color: $font-color;
		font-size: $big-font;
		background: #546a95;
		background: linear-gradient(135deg, #546a95 10%, #3b4662);
		border-radius: 20px;
		.p {
			margin: 18px 0;
		}
		.p:nth-of-type(1) {
			font-size: $superBig-font;
			font-weight: bold;
		}
		.p:nth-of-type(2) {
		}
	}
	#settings {
		height: auto;
		margin-top: 20px;
		overflow-y: scroll;
      
      .title2{
         margin-top: 40px;
         padding:0 65px 30px;
         font-weight: bold;
      }
      .p{
         color:$font-color;
         margin:20px 40px;
      }
	}
}
