.carousel{
   width: 100%;
   overflow: hidden;
   position: relative;
   height:100%;
}
.container{
   transform: translate3d(0,0,0);
   transition-duration: 1s;
   transition-property: all;
   transition-timing-function: ease;
   position: relative;
   height: 400px;
}
.items {
   width: 100%;
   flex-shrink: 0;
   position: absolute;
   height: 100%;
   top: 0;
}
.buttonLeft {
   position: absolute;
   left: 0;
   top: 0;
   bottom: 0;
   margin: auto;
   width: 30px;
   height: 30px;
   background: #fff;
}
.buttonRight {
   position: absolute;
   right: 0;
   top: 0;
   bottom: 0;
   margin: auto;
   width: 30px;
   height: 30px;
   background: #fff;
}
