// #bottomBar{
//   display: flex;
//   flex-direction: row;
//   justify-content: space-around;
//   height:50px;
  
// }
.tab-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 150px;
  font-size: 32px;
  background: transparent; 
}
.tab-bar-wrap {
display: flex;
height: 110px;
box-shadow: -6px 0px 8px 0px 
      #dfdfdf;
margin-top: 40px;
background: #ffffff;
}
.tab-bar-wrap-item {
flex: 1;
display: flex;
flex-direction: column;
align-items: center;
margin-top: 20px;
}
.tab-bar-wrap-item-icon {
width: 45px;
height: 45px;
border-radius: 50%;
}
.tab-bar-wrap-item-btn {
font-size: 24px;
line-height: 42px;
color: #999999;
background: #ffffff;
}
