#courseMain {
	width: 100%;
	height: 100%;
   overflow: hidden;
   position: relative;
	 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   #course-bg{
      position: absolute;
      z-index: -1;
      top:0;
      left:0;
      width: 100%;
      height: 100%;

      background: linear-gradient(
		to bottom,
      #ffffff 10%,
		#f7797d22,
		#fbd88622,
		/*#c6ffdd22,*/
		#ffffff 100%
	);
}
   .course-wrapper{
      width:100vw;
      height: 100vh;
   }
}
#inf-wrapper{
   
   .inf-item{

   }
}
