@import '@src/common.scss';
.nav_custom_bar{
   width: 100%;
  
  background: transparent;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: flex-end;
   position: relative;
   flex-shrink: 0;
   .nav_custom_bar_back{
     position: absolute;
     bottom: 20px;
     left: 22px;
     &.hidden{
       display: none;
     }
     #helpBubble{
       
     }
   }
   .nav_custom_bar_title{
     font-size: 32px;
     font-family: Microsoft YaHei, Microsoft YaHei-Regular;
     font-weight: 400;
     text-align: left;
     color: $font-color-light;
     margin-bottom: 20px;
   }
 }
 