@import "~taro-ui/dist/style/index.scss";


/*  #ifdef  h5  */
* {
  box-sizing: border-box;
}
taro-view-core,
taro-text-core,
div {
  font-size: 32px;
}
/*  #endif  */

/*  #ifdef  weapp  */
view,
text {
  box-sizing: border-box;
}
/*  #endif  */
page{
  overflow: hidden;
}

$base-line-height: 48px;
$white: #accce7;
$off-white: rgba($white, 0.2);
$spin-duration: 1s;
$pulse-duration: 750ms;
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading, .bigLoading {
  border-radius: 50%;
  width: $base-line-height;
  height: $base-line-height;
  border: .25rem solid $off-white;
  border-top-color: $white;
  animation: spin $spin-duration infinite linear;
}
.bigLoading{
  width: 50vw;
  height: 50vw;
}
.bigLoading-wrapper{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}