$bottom-safe-height :calc(108px + env(safe-area-inset-bottom)/4);
$bottom-safe-atom: env(safe-area-inset-bottom)/4;

$small-font:20px;
$normal-font:24px;
$big-font:29px;
$border-color:#424242;
$font-color:white;
$font-color-light:rgb(214, 214, 214);
$font-color-light:rgb(214, 214, 214);